/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.container #top-banner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("https://drive.google.com/open?id=1pG1VkErJOnST5AQFoLkphZd4RXwRtGB-");
  background-size: cover;
  background-color: black;
  display: block;
}

#top-jumbo {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /*background-color: black;*/
  background-image: url("https://drive.google.com/open?id=1pG1VkErJOnST5AQFoLkphZd4RXwRtGB-");
  background-size: cover;
  border-radius: 0.3rem;
  display: block;
}

#my-name {
  font-size: 60px;
  color: black;
}

.my-button {
  display: block;
  font-size: 10px;
  color: black;
  background-image: url("images/rack_back_assembly_half_light.jpg");
}
