/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(https://drive.google.com/open?id=1pG1VkErJOnST5AQFoLkphZd4RXwRtGB-);
  background-size: cover;
}
