/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}


#top-banner {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /*
  background-repeat: no-repeat;
  width: 75%;
  height: auto;
  min-height: 360px;
  */
}


#top-jumbo {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-image: url("images/banner-2.png");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  min-height: 360px;
  min-width: 240px;
  display: block;
}

#my-name {
  fony-family: "Helvetica", sans-serif;
  font-size: 60px;
  color: #f4f4f4;
}

.my-button {
  display: block;
  font-size: 10px;
  color: black;
}
